<!doctype html>
<html lang="es-cl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Le verduré</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'm_web/css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>
<body>
    <div class="d-flex">
        <div id="sidebar-container" class="bg-primary">
            <div class="logo">
                <h4>Le Verduré</h4>
            </div>
            <div class="menu">
                <a href="{% url 'home' %}" class="d-block"><i class="icon ion-md-home"></i>Inicio</a>
                <a href="{% url 'pdvext' %}" class="d-block"><i class="icon ion-md-basket"></i>Proceso de Venta</a>
                <a href="{% url 'solicitud_compra' %}" class="d-block"><i class="icon ion-md-bookmark"></i>Solicitud de Compra</a>
                <a href="{% url 'subasta' %}" class="d-block"><i class="icon ion-md-trending"></i>Subasta</a>
                <button type="button" onclick="window.location.href='../login/'" class="btn btn-outline-light me-2" >Iniciar Sesión</button>
            </div>
        </div>
    </div>

</body>

<div class="cuerpo">
    {% block contenido %}

    {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
<footer class="futer">
<div class="text-center p-3" style="background-color: rgba(11, 9, 9, 0.2);">
© 2022 Copyright:
<a class="text-dark">LeVerdure.com</a>
</div>
</footer>

</html>
