<!doctype html>
<html lang="es-cl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Le verduré</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'm_web/css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="icon" href="https://cdn.discordapp.com/attachments/636390598437502979/1034194670944780288/Logo.png">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="https://cdn.discordapp.com/attachments/636390598437502979/1034194670944780288/Logo.png" class="bi me-2" width="95" height="57" role="img" aria-label="Bootstrap"></img>
                </span>

                <div class="text logo-text">
                    <span class="name">Le Verduré</span>
                    <span class="profession">Sitio Web</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Buscar...">
                </li>

                <ul class="menu-links" style="padding-left: 0;">
                    <li class="nav-link">
                        <a href="{% url 'home' %}">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Inicio</span>
                        </a>
                    </li>
                    {% if rol == 'Transportista' %}
                    <li class="nav-link">
                        <a href="{% url 'subasta' %}">
                            <i class='bx bx-money-withdraw icon'></i>
                            <span class="text nav-text">Subastas</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if rol == 'Cliente Externo' %}
                    <li class="nav-link">
                        <a href="{% url 'pdvext' %}">
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">Proceso de Ventas</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if rol == 'Productor' %}
                    <li class="nav-link">
                        <a href="{% url 'pdvext' %}">
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">Proceso de Ventas</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if rol == 'Cliente Externo' %}
                    <li class="nav-link">
                        <a href="{% url 'solicitud_compra' %}">
                            <i class='bx bx-wallet icon' ></i>
                            <span class="text nav-text">Solicitud Compras</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if rol == 'Productor' %}
                    <li class="nav-link">
                        <a href="{% url 'productos' %}">
                            <i class='bx bx-lemon icon' ></i>
                            <span class="text nav-text">Productos</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if rol == 'Transportista' %}
                    <li class="nav-link">
                        <a href="{% url 'transportista' %}">
                            <i class='bx bxs-truck icon'></i>
                            <span class="text nav-text">Transportista</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            
            <div class="bottom-content">
                {% if rol == 'Visita' %}
                <li class="nav-link">
                    <a onclick="window.location.href='../login/'">
                        <i class='bx bx-log-in icon'></i>
                        <span class="text nav-text">login</span>
                    </a>
                </li>
                {% else %}
                <form method="POST">
                    {% csrf_token %}
                    <li class="nav-link">
                        <a>
                            <i class='bx bx-log-out icon' ></i>
                            <input class="text nav-text btn" type="submit" value="Cerrar Sesion">
                        </a>
                    </li>
                </form>
                {% endif %}
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Modo Oscuro</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>

    </nav>

    <section class="home">
        <div class="text"><i class='bx bx-user'></i> {{ nombre }} | Rol {{ rol }} <i class='bx bx-buildings'></i>  </div>
        <div>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

                {% if messages %}
                    {% for m in messages %} 
                        <script>
                            Swal.fire({
                                icon:"info",
                                text:"{{m}}"
                            })
                        </script>
                    {% endfor %}
                {% endif %}

            {% block contenido %}

            {% endblock %}
            
            
        </div>
    </section>

    <script>
        const body = document.querySelector('body'),
        sidebar = body.querySelector('nav'),
        toggle = body.querySelector(".toggle"),
        searchBtn = body.querySelector(".search-box"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");


toggle.addEventListener("click" , () =>{
    sidebar.classList.toggle("close");
})

searchBtn.addEventListener("click" , () =>{
    sidebar.classList.remove("close");
})

modeSwitch.addEventListener("click" , () =>{
    body.classList.toggle("dark");
    
    if(body.classList.contains("dark")){
        modeText.innerText = "Modo Claro";
    }else{
        modeText.innerText = "Modo Oscuro";
        
    }
});
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>
