{% extends 'm_web/base3.html' %}
{% block contenido %}

    <div class="p-5 bg-primary text-white text-end" style="background-image:url(https://img.freepik.com/foto-gratis/rodajas-frutas-bayas-sobre-fondo-amarillo_23-2148144274.jpg?w=2000);height: 50vh;">
      <h1>Le Verdure</h1> 
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa laudantium mollitia, sapiente delectus natus quae rem enim</p>
      <p>Lorem ipsum dolor sit amet consectetur ad</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa laudantium mollitia,</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa laudantium mollitia, sapiente delectus</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. /p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa laudantium mollitia, sapiente delectus natus quae rem</p>
    </div>
    <div class="p-5 bg-primary text-white" style="background-image:url(https://s1.1zoom.me/b5050/537/Citrus_Orange_fruit_Lemons_Grapefruit_582349_1920x1200.jpg);height: 41vh;">
        <h1>Le Verdure</h1> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa laudantium mollitia, sapiente delectus natus quae rem enim</p>
        <p>Lorem ipsum dolor sit amet consectetur ad</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa laudantium mollitia,</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa laudantium mollitia, sapiente delectus</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. /p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa laudantium mollitia, sapiente delectus natus quae rem</p>
    </div>
{% endblock %}
