{% extends 'm_web/base2.html' %}
{% load static %}
{% block contenido2 %}
<body id="bodylogin" class="text-center">
    
    <main class="form-signin w-100 m-auto" id="loginsito">
      <form method="POST">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'm_web/img/logo.png' %}" alt="" width="200" height="140">
        <h1 style="color: white;" class="h3 mb-3 fw-normal">Le Verduré</h1>
    
        <div class="form-floating">
          <input name="mail" type="name" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Usuario</label>
        </div>
        <div class="form-floating">
          <input name="pass" type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Contraseña</label>
        </div>
        <input class="w-100 btn btn-lg btn-primary" style="background-color: #7d4dcd;" type="submit" value="Iniciar sesion" />
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
      </form>
    </main>
      </body>
{% endblock %}