{% extends 'm_web/base.html' %}
{% block contenido %}
{% load crispy_forms_tags %}
{% load humanize %}

    <div class="container-fluid mx-5 py-5">
      <div>
        <h2>Proceso de Venta</h2>
      </div>
      <div class="row">
        
        {% for p in pdvs %}
        <div class="card col-3 mx-3 my-4">
          <div class="card-body">
            <h5 class="card-title">Proceso de Venta #{{ p.id_pdv }}</h5>
            <p class="card-text">Hasta {{ p.fecha_termino }}</p>
              {% for e in estadopdvs %}
                {% if e.id_estadopdv == p.estado_pdv_id_estadopdv_id %}
                  <p class="card-text">Estado: {{ e.d_estadopdv }}</p>
                {% endif %}
              {% endfor %}  
              {% for s in solicitudes %}
                {% if s.id_solicitud == p.solicitud_compra_id_solicitud_id %}
                <p class="card-text">Solicitud N°: {{ s.id_solicitud }}</p>
                <p class="card-text">Cantidad Necesaria: {{ s.ctdad_necesaria }} KG</p>
                {% for u in usuarios %}
                      {% if u.id_usuario == s.id_solicitud %}
                        <p class="card-text">Solicitado por: {{ u.nombre }}</p>
                      {% endif %}
                {% endfor %}
                {% for r in productos %}
                  {% if r.id_prod == s.producto_id_prod_id %}
                  <p class="card-text">Producto: {{ r.n_prod }}</p>
                    {% for c in calidades %}
                      {% if c.id_calidad == r.id_prod %}
                      <p class="card-text">Calidad: {{ c.descripcion_c }}</p>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
                {% endif %}
              {% endfor %}
            <button type="button" class="btn btn-success" style="background-color: #7d4dcd;" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Participar</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div>
                      <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send message</button>
                  </div>
                </div>
              </div>
            </div>
            <script>
              const exampleModal = document.getElementById('exampleModal')
              exampleModal.addEventListener('show.bs.modal', event => {
                // Button that triggered the modal
                const button = event.relatedTarget
                // Extract info from data-bs-* attributes
                const recipient = button.getAttribute('data-bs-whatever')
                // If necessary, you could initiate an AJAX request here
                // and then do the updating in a callback.
                //
                // Update the modal's content.
                const modalTitle = exampleModal.querySelector('.modal-title')
                const modalBodyInput = exampleModal.querySelector('.modal-body input')

                modalTitle.textContent = `New message to ${recipient}`
                modalBodyInput.value = recipient
              })
            </script>
            </div>
          </div>
        {% endfor %}
          
          
      </div>
          
    </div>
    
{% endblock %}

