{% extends 'm_web/base.html' %}
{% block contenido %}
{% load crispy_forms_tags %}
{% load humanize %}

    <div class="container mx-4 py-5" style="margin-right: 0;">
      <div>
        <h2>Proceso de Venta</h2>
      </div>
      <div class="container">
        <div class="row">
        
        {% for p in pdvs %}
        <div class="card col-3 mx-3 my-4">
          <div class="card-body">
            <h5 class="card-title">Proceso de Venta #{{ p.id_pdv }}</h5>
            <p class="card-text">Hasta {{ p.fecha_termino }}</p>
              {% for e in estadopdvs %}
                {% if e.id_estadopdv == p.estado_pdv_id_estadopdv_id %}
                  <p class="card-text">Estado: {{ e.d_estadopdv }}</p>
                {% endif %}
              {% endfor %}  
              {% for s in solicitudes %}
                {% if s.id_solicitud == p.solicitud_compra_id_solicitud_id %}
                <p class="card-text">Solicitud N°: {{ s.id_solicitud }}</p>
                <p class="card-text">Cantidad Necesaria: {{ s.ctdad_necesaria }} KG</p>
                {% for u in usuarios %}
                      {% if u.id_usuario == s.id_solicitud %}
                        <p class="card-text">Solicitado por: {{ u.nombre }}</p>
                      {% endif %}
                {% endfor %}
                <p class="card-text">Cantidad Reunida: {{ p.ctdad_reunida }} KG</p>
                <p class="card-text">Precio Total: ${{ p.precio_total }}</p>
                {% for r in productos %}
                  {% if r.id_prod == s.producto_id_prod_id %}
                  <p class="card-text">Producto: {{ r.n_prod }}</p>
                    {% for c in calidades %}
                      {% if c.id_calidad == r.id_prod %}
                      <p class="card-text">Calidad: {{ c.descripcion_c }}</p>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
                {% endif %}
              {% endfor %}
              {% if rol == 'Productor' %}
              <div class="row">
                <a type="button" class="btn btn-success" href="{% url 'pdvext_id' p.id_pdv %}" style="background-color: #7d4dcd; margin-bottom: 5px;">Participar</a>
                <a type="button" class="btn btn-success" href="{% url 'lista_pdv' %}">Lista Participantes</a>
              </div>
                {% endif %}
            </div>
          </div>
        {% endfor %}
          
          
        </div>
      </div>    
    </div>
    
{% endblock %}

