{% extends 'm_web/base.html' %}
{% block contenido %}
{% load crispy_forms_tags %}
{% load humanize %}

    <div class="container-fluid mx-5 py-5">
      <div>
        <h2>Proceso de Venta Extranjero</h2>
      </div>
      <div class="row">
        
        {% for p in pdvs %}
        <div class="card col-3 mx-2 my-3">
          <div class="card-body">
            <h5 class="card-title">Proceso de Venta #{{ p.id_pdv }}</h5>
            <p class="card-text">Hasta {{ p.fecha_termino }}</p>
            {% for s in solicitudes %}
              {% if s.id_solicitud == p.solicitud_compra_id_solicitud_id %}
                <p class="card-text">Solicitud N°: {{ s.id_solicitud }}</p>
                <p class="card-text">Cantidad Necesaria: {{ s.ctdad_necesaria }} KG</p>
                  {% for u in usuarios %}
                    {% if u.id_usuario == s.id_solicitud %}
                      <p class="card-text">Solicitado por: {{ u.nombre }}</p>
                    {% endif %}
                  {% endfor %}
                {% for r in productos %}
                  {% if r.id_prod == s.producto_id_prod_id %}
                  <p class="card-text">Producto: {{ r.n_prod }}</p>
                    {% for c in calidades %}
                      {% if c.id_calidad == r.id_prod %}
                      <p class="card-text">Calidad: {{ c.descripcion_c }}</p>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endfor %}
        
          
      </div>
          
    </div>
    
{% endblock %}

