{% extends 'm_web/base.html' %}
{% block contenido %}
{% load crispy_forms_tags %}
{% load humanize %}


<div class="container-fluid mx-4 py-5">
<div>
    <h2>Solicitud de compra</h2>
    <p>
        <button class="btn btn-success" style="background-color: #7d4dcd;" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Agregar Solicitud
        </button>
    </p>
    <form method="POST">
        <div class="collapse col-10 mx-10 my-10" id="collapseExample">
            <div class="card card-body">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Fecha de Creación</label>
                    <input type="date" name="fecha_solicitud" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Cantidad Necesaria</label>
                    <input type="number" name="ctdad_necesaria" class="form-control" id="formGroupExampleInput2" placeholder="ej: 10000 sin '.' ni ','">
                </div>

                <div class="input-group mb-3">
                    <input type="text" hidden name="estado_solicitud_id_estado_id" class="form-control" value="2">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect03">Producto</label>
                    <select name="producto_id_prod_id" class="form-select" type="number">
                    <option selected>Seleccione...</option>
                    {% for prod in productos %}
                        <option value="{{ prod.id_prod }}">{{ prod.n_prod }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="input-group mb-3">
                    <input type="text" hidden name="usuario_id_usuario_id" class="form-control" value="{{ id }}">
                    {% csrf_token %}
                </div>
                <input type="submit" style="background-color: #7d4dcd;" value="Agregar" class="btn btn-success">
                
                
            </div>
        </div>
    </form>
</div>
<div class="row">
    
    {% for g in solicitudes %}
    <div class="card col-3 mx-3 my-3">
        <div class="card-body">
            <h5 class="card-title">Solicitud de compra #{{ g.id_solicitud }}</h5>
            {% for v in estadosolicitudes %}
                {% if v.id_estado == g.estado_solicitud_id_estado_id %}
                    <p>Estado: {{ v.d_estado }}</p>
                {% endif %}
            {% endfor %}
            <p class="card-text">Fecha Creacion: {{ g.fecha_solicitud }} </p>
            <p class="card-text">Cantidad Necesaria: {{ g.ctdad_necesaria }} KG</p>
            {% for r in productos %}
                {% if r.id_prod == g.producto_id_prod_id %}
                <p class="card-text">Producto: {{ r.n_prod }}</p>
                {% endif %}
            {% endfor %}
            <p class="card-text">Solicitado por: {{ nombre }}</p>
            <a href="#" style="background-color: #7d4dcd;" class="btn btn-primary">Ver detalles</a>
    
    </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}
