{% extends 'm_web/base.html' %}
{% block contenido %}
{% load crispy_forms_tags %}
{% load humanize %}

<div class="container-fluid mx-5 py-5">
    <div>
    <h2>Subastas</h2>
    </div>
    
    <div class="row">
    
    {% for c in subastas %}
    <div class="card col-3 mx-3 my-3">
        <div class="card-body">
        <h5 class="card-title">Subasta #{{ c.id_subasta }}</h5>
        <p class="card-text">Fecha de publicacion: {{ c.fecha_publicacion }}</p>
        <p class="card-text">Fecha de Termino: {{ c.fecha_termino_sub }}</p>
        <p class="card-text">Condicion de Carga: {{ c.cond_carga }} KG</p>
        <p class="card-text">Tamaño: {{ c.cond_tamano }} KG</p>
        <p class="card-text">Refrigeracion: 
            {% if c.cond_refrigeracion == 1 %}
            Necesaria
            {% elif c.cond_refrigeracion == 0 %}
            No Necesaria
            {% else %}
            No Encontrado
            {% endif %}
        </p>
        <p class="card-text">Valor inicial: ${{ c.valor_inicial }}</p>
        <p class="card-text">Ultima puja: ${{ c.ultima_puja }}</p>
        <p class="card-text">Cantidad de pujas Totales: {{ c.ctdad_pujas }}</p>
        <p class="card-text">Estado de la subasta: 
            {% if c.estado_sub == 1 %}
            Abierto
            {% elif c.estado_sub == 0 %}
            Cerrado
            {% else %}
            Sin Estado
            {% endif %}
        </p>
        {% for s in solicitudes %}
            {% if s.id_solicitud == c.id_solicitud %}
            <p class="card-text">Cantidad Necesaria: {{ c.ctdad_necesaria }} KG</p>
            {% endif %}
        {% endfor %}
        {% for u in Transportes %}
            {% if u.id_transporte == c.cap_transporte_id_transporte_id %}
                <p class="card-text">Tamaño : {{ c.cap_transporte_id_transporte_id }}</p>
            {% endif %}
        {% endfor %}
        <a href="#" style="background-color: #7d4dcd;" class="btn btn-success">Realizar Puja</a>
        </div>
    
    </div>
    {% endfor %}
    </div>
    
</div>


{% endblock %}

