{% extends 'proc_venta/base.html' %}
{% load static %}
{% block contenido %}

<div class="container">

  <div class="row justify-content-center align-items-center">
    <div class="col-4 p-3">
      <img src="{% static 'proc_venta/img/44.jpg' %}" alt="" class="img-fluid img-thumbnail">
    </div>
    <div class="col-8 p-3 ">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste excepturi odio eum quae nulla similique natus impedit obcaecati dignissimos id, quisquam assumenda, ullam, et eligendi illo rerum ad magni hic! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste excepturi odio eum quae nulla similique natus impedit obcaecati dignissimos id, quisquam assumenda, ullam, et eligendi illo rerum ad magni hic! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste excepturi odio eum quae nulla similique natus impedit obcaecati dignissimos id, quisquam assumenda, ullam, et eligendi illo rerum ad magni hic!</p>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center align-items-center">
    <div class="col-8 p-3 ">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste excepturi odio eum quae nulla similique natus impedit obcaecati dignissimos id, quisquam assumenda, ullam, et eligendi illo rerum ad magni hic! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste excepturi odio eum quae nulla similique natus impedit obcaecati dignissimos id, quisquam assumenda, ullam, et eligendi illo rerum ad magni hic! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste excepturi odio eum quae nulla similique natus impedit obcaecati dignissimos id, quisquam assumenda, ullam, et eligendi illo rerum ad magni hic!</p>
    </div>
    <div class="col-4 p-3">
      <img src="{% static 'proc_venta/img/44.jpg' %}" alt="" class="img-fluid img-thumbnail">
    </div>
  </div>

</div>

{% endblock %}