html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url("../img/back_log.png") 50% 0 no-repeat fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#loginsito{ 
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 3px 3px 3px 1px rgb(0, 0, 0,0.3);
  border-radius: 15px;
}
.rimember{
  color: white;
}

#olvidelaclave{
  color:white;
  padding-top: 20px;
}
button{
  background-color: red;
}