.fondo{
    background-color: #6D6D6D;
}
#navbar{
    box-shadow: 3px 3px 3px 1px rgb(0, 0, 0,0.5);
}
.cuerpo{
    margin: 2em;
    min-height: 80%;
    background: rgb(228,228,228);
    background: radial-gradient(circle, rgba(228,228,228,1) 80%, rgba(209,209,209,1) 100%);
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0,0.5);
}


/* 
.futer{
    background-color: rgb(0, 0, 0,0.2);
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0,0.5);
    position: absolute;
    bottom: 0%;
    width:100%;

}
 */